$bg-primary: #161616;
$bg-secondary: #1B1B1B;
$primary-accent: #F35034;
$secondary-accent: #262626;
$primary-text: #C0C0C0;
$white: #FFFFFF;

$font-inter: 'Inter', sans-serif;

$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 20px;
$text-xl: 24px;
$text-2xl: 32px;
$text-3xl: 48px;
$text-4xl: 64px;
$text-5xl: 80px;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;